.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.card{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    text-align: center;
    transition: transform .2s, box-shadow .2s;
    padding: 20px;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img{
    display: block;
    width: 100%;
    height: 150px;
    object-fit: contain;
}